[tool.poetry]
name = "codedog"
version = "0.0.0"
description = "Review your Github/Gitlab pr using ChatGPT."
authors = ["Arcadia822 <arcadia822@gmail.com>"]
license = "MIT"
readme = "README.md"
include = ["codedog", "server.py"]

[tool.poetry.dependencies]
python = "^3.10"
fastapi = "^0.95.1"
langchain = "^0.0.179"
openai = "^0.27.4"
pydantic = "^1.10.7"
python-gitlab = "^3.14.0"
tenacity = "^8.2.2"
uvicorn = "^0.21.1"
pygithub = "^1.58.2"
unidiff = "^0.7.5"

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
black = "^23.3.0"
flake8 = "^6.0.0"
isort = "^5.12.0"
pytest = "^7.2.1"
pytest-asyncio = "^0.20.3"
pytest-cov = "^4.0.0"
python-semantic-release = "^7.34.6"

[tool.poetry.scripts]
start = "server:start"

[[tool.poetry.source]]
name = "aliyun"
url = "http://mirrors.aliyun.com/pypi/simple"

[tool.semantic_release]
version_variable = "./codedog/version.py:VERSION"
build_command = false

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
