name: Semantic Release

on:
  workflow_dispatch:

jobs:
  release:
    name: Release New Version.
    runs-on: ubuntu-latest
    concurrency: release
    permissions:
      id-token: write
      contents: write

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up Python 3.10
      uses: "./.github/actions/poetry_setup"
      with:
        python-version: "3.10"
        poetry-version: "1.5.1"
        install-command: |
            echo "Installing dependencies with poetry..."
            poetry install --with dev

    - name: Python Semantic Release
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "action@github.com"
        poetry run semantic-release version --changelog
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        PyPI_TOKEN: ${{secrets.PyPI_TOKEN}}
